# Terraform
**/.terraform/
**/.terraform.lock.hcl
**/terraform.tfstate
**/terraform.tfstate.*
**/.terraform.tfstate.lock.info

# Data (keep in S3)
data/
**/*.parquet

# dbt artifacts
**/target/
**/dbt_packages/

logs/
**/logs/

# Airflow runtime stuff
airflow/logs/
airflow/plugins/__pycache__/
airflow/dags/__pycache__/
airflow/.env

# Python
venv/
.env
__pycache__/
*.pyc

